<div class="col-md-6 col-md-offset-3 fadein-fast">
    <h1 class="text-center">Inicio</h1>
    <h2 class="text-center text-primary">Bienvenid@ a Palmatransporting.info</h2>
    <hr>
    <p class="text-center text info home-text">Esta web permite la consulta de los principales datos en tiempo real relativos al transporte público de Palma de Mallorca.</p>
    <p class="text-center text-warning home-text">Se irán implementando nuevos servicios!</p>
    <p class="text-danger">Descargo de responsabilidad: Los datos obtenidos en tiempo real provienen de <a href="http://www.mobipalma.mobi">Mobipalma</a>. Las incidencias que Mobipalma pueda tener afectarán a los datos suministrados desde esta web.</p>
    <hr>
</div>